* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.clearfix:after {
  content: ' ';
  clear: both;
  height: 0;
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
